
body{
background-color: rgba(128, 128, 128, 0.411);
}
.registration-form{
    width: 80%;
    margin: 10% auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(127, 255, 212, 0.37);
  }
  
  input:hover{
      background: rgba(123, 123, 141, 0.507);
  }
  select:hover{
    background: rgba(123, 123, 141, 0.507);
}

  
  